<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rant to Reason</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container" role="main">
      <div class="row">
        <div class="col-xs-12">
          <div class="render row"></div>
        </div>
      </div>
    </div>

    <script type="template/javascript" id="card-tmpl">
      <div class="card col-xs-<%= span %> <%= level %>">
        <div class="card-inner">
          <a href="#" data-level="<%= level %>" data-statement="<%= statement %>"><%= statement %></a>
        </div>
      </div>
    </script>

    <script type="template/javascript" id="explain-tmpl">
      <div class="explain col-xs-12">
        <div class="explain-inner">
          <h2>Thanks for being cool or whatever</h2>
          <p>Tell us a bit more about why you feel this way:</p>
          <form class="explainer">
            <div class="form-group">
              <textarea class="form-control" rows="3"></textarea>
              <div class="submit-wrap">
                <input type="submit" class="btn btn-primary btn-lg" name="submit-explanation" value="That's how I feel"></input>
              </div>
            </div>
          </form>

          <p>Maybe you don't want to. That's totally cool too. <a href="http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg">Have a picture of a kitten as token of thanks</a></p>
        </div>
      </div>
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>
